dialog {
    width: 90%;
    max-width: 90%;
    height: 90%;
    max-height: 90%;
    background: #AAAAAA;
    border-radius: 6px;
    border: solid 1px #009900;
    border-bottom-width: 3px;
    border-right-width: 3px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    padding: 1rem;
    top: 2rem;
}