dialog {
    width: 90%;
    max-width: 90%;
    height: 90%;
    max-height: 90%;
    // background: #AAAAAA;
    border-radius: 6px;
    border: none;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    padding: 1rem;
    top: 2rem;
}
dialog::backdrop {
  background-image: linear-gradient(
    45deg,
    magenta,
    rebeccapurple,
    dodgerblue,
    green
  );
  opacity: 0.75;
}